@model IEnumerable<DTO.Dishes>

@{
    ViewData["Title"] = "GetGreekDishes";
}

    <h2>Our Greek Dishes</h2>

<table class="table">
    <thead>
        <tr>       
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
               
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idDishes)
            </td>
            <td>
                <!--Formulaire pour le post exemple edit.cshtml de valais booking
                     et élément caché-->
                
                
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price).-
            </td>
            <td>
            </td>
            <td>
                <a href="@Url.Action("RemoveAllItems", "", new{ id = item.idDishes })" class="btn btn-primary"> Ordering Now</a> 
            </td>
            
        </tr>
        }
    </tbody>
</table>



