@model IEnumerable<DTO.Order_Dishes>

@{
    ViewData["Title"] = "ListOrderCustomer";
}

<h2>ListOrderCustomer</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idOrder_Dishes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orders_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customers_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dishes_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.login_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idOrder_Dishes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orders_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customers_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dishes_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login_id)
            </td>
            <td>
                @Html.ActionLink("Archieve", "Archieve", new { /* id=item.PrimaryKey */ }) |
            </td>
        </tr>
}
    </tbody>
</table>
