@model IEnumerable<ValaisEatWebApplication.Models.OrderDishesStaffMVC>

@{
    ViewData["Title"] = "DisplayOrderDishes";   
}

<div class="container">
    <h2>DisplayOrderDishes</h2>

    <p>

    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Lastname
                </th>
                <th>
                    Firstname
                </th>
                <th>
                    Address
                </th>
                <th>
                    Delivery Time
                </th>
                <th>
                    Phone number
                </th>
                <th>
                    Delivery Status
                </th>
                <th>
                    Total
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastNameCustomer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FistNameCustomer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressDelivery)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeDelivery)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneCustomer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusDelivery)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalOrder).-
                    </td>

                </tr>
            }

            <tr>
                <td>
                    <button type="button" class="btn btn-info"><a asp-action="ListOD">Archive</a></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
